{
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 500,
	"bracketSameLine": true,
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"singleAttributePerLine": false,
	"proseWrap": "never"
}
