server:
    http_listen_port: 9080
    grpc_listen_port: 0

clients:
    - url: http://loki:3100/loki/api/v1/push

positions:
    filename: /tmp/positions.yaml

scrape_configs:
    # PRODUCTION LOGS ---
    # These paths match the production promtail volume mounts
    - job_name: app-alert-logs
      static_configs:
          - targets: [localhost]
            labels:
                job: app-alert
                __path__: /usr/src/app/logging/alert/*.log
      pipeline_stages:
          - json:
                expressions:
                    level: level
                    message: message
                    module: module
                    requestId: requestId
                    userId: userId
                    trace_id: trace_id
                    span_id: span_id
          - labels:
                level:
                module:
                requestId:
                userId:
                trace_id:
                span_id:
    - job_name: app-error-logs
      static_configs:
          - targets: [localhost]
            labels:
                job: app-error
                __path__: /usr/src/app/logging/error/*.log
      pipeline_stages:
          - json:
                expressions:
                    level: level
                    message: message
                    module: module
                    requestId: requestId
                    userId: userId
                    trace_id: trace_id
                    span_id: span_id
          - labels:
                level:
                module:
                requestId:
                userId:
                trace_id:
                span_id:
    - job_name: app-slow-logs
      static_configs:
          - targets: [localhost]
            labels:
                job: app-slow
                __path__: /usr/src/app/logging/slow/*.log
      pipeline_stages:
          - json:
                expressions:
                    level: level
                    message: message
                    module: module
                    requestId: requestId
                    userId: userId
                    trace_id: trace_id
                    span_id: span_id
          - labels:
                level:
                module:
                requestId:
                userId:
                trace_id:
                span_id:
