/* ASPECT RATIO ----------------------------------- */

.aspect164 {
	aspect-ratio: 16 / 4;
}
.aspect165 {
	aspect-ratio: 16 / 5;
}
.aspect166 {
	aspect-ratio: 16 / 6;
}
.aspect167 {
	aspect-ratio: 16 / 7;
}
.aspect168 {
	aspect-ratio: 16 / 8;
}
.aspect169 {
	aspect-ratio: 16 / 9;
}
.aspect1610 {
	aspect-ratio: 16 / 10;
}
.aspect1611 {
	aspect-ratio: 16 / 11;
}
.aspect1612 {
	aspect-ratio: 16 / 12;
}
.aspect1613 {
	aspect-ratio: 16 / 13;
}
.aspect1614 {
	aspect-ratio: 16 / 14;
}
.aspect1615 {
	aspect-ratio: 16 / 15;
}
.aspect1616 {
	aspect-ratio: 16 / 16;
}












