/* MARGIN BOTTOM SCALE ----------------------------------- */
/* Range: 0.1rem to 50rem */

/* MICRO ----------------------------------- */
.marBot1 { margin-bottom: 0.1rem; }
.marBot2 { margin-bottom: 0.2rem; }
.marBot3 { margin-bottom: 0.4rem; }
.marBot4 { margin-bottom: 0.6rem; }
.marBot5 { margin-bottom: 0.8rem; }

/* SMALL ----------------------------------- */
.marBot6 { margin-bottom: 1.0rem; }
.marBot7 { margin-bottom: 1.5rem; }
.marBot8 { margin-bottom: 2.0rem; }
.marBot9 { margin-bottom: 3.0rem; }
.marBot10 { margin-bottom: 4.0rem; }

/* MEDIUM ----------------------------------- */
.marBot11 { margin-bottom: 5.0rem; }
.marBot12 { margin-bottom: 6.0rem; }
.marBot13 { margin-bottom: 8.0rem; }
.marBot14 { margin-bottom: 10.0rem; }
.marBot15 { margin-bottom: 14.0rem; }

/* LARGE ----------------------------------- */
.marBot16 { margin-bottom: 18.0rem; }
.marBot17 { margin-bottom: 24.0rem; }
.marBot18 { margin-bottom: 30.0rem; }
.marBot19 { margin-bottom: 38.0rem; }
.marBot20 { margin-bottom: 50.0rem; }












