# MySQL exporter credentials
# NOTE: Replace password with actual value or use Docker secrets
# The mysqld_exporter user must exist in MySQL with appropriate grants:
#   CREATE USER 'mysqld_exporter'@'%' IDENTIFIED BY '<password>';
#   GRANT PROCESS, REPLICATION CLIENT, SELECT ON *.* TO 'mysqld_exporter'@'%';
[client]
user=mysqld_exporter
password=${MYSQL_EXPORTER_PASSWORD:-REPLACE_ME}
host=mysql
port=3306
